html{
    background-color: skyblue;
}
#H1{
    color: black;
    text-align: center;
    text-decoration: underline;
}
#H2{
    color: black;
    text-align: center;
    text-decoration: underline;
}
#H3{
    color: black;
    text-align: left;
}
#li{
    text-align:left ;
}
.first{
    color: black;
    text-align: center;
}
.img{
    width: 100%;
    height: 100%;
    margin: 0%;
}
.img-two{
    width: 100%;
    height: 100%;
    margin: 0%;
}
#div{
    margin= 0%;
    padding: 0%;
}